/*основные для всех доп страниц*/


body {
    font-family: 'Cera pro', sans-serif;
    color: var(--dark);
}


:root {
    --dark: #292929;
    --blue: #0095DA;
    --white: #fff;
    --grey-background: #F4F4F4;
    --grey-font: #B1B1B1;
    --hover-blue: #07B1FF;
}

.sub__link-up {
    color: var(--blue);
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 48px;
}

.sub__header {
    font-size: 32px;
    font-weight: 700;
    line-height: normal;
    text-align: left;
}

.sub__subtitle {
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
}

.sub__text-li {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

.sub__arrow-up {
    margin-right: 16px;
}

.main__sub {
    margin-top: 32px;
}

.sub__main__content {
    display: flex;
    margin-top: 56px;
}

.sub__main-img {
    object-fit: cover;
    width: 100%;
    height: 95%;
}

.sub__main-right {
    margin-left: 42px;
    width: 60%;
}

.sub__list-up {
    margin-top: 16px;
}

.stage {
    margin-top: 100px;
}

.stage__descr {
    font-size: 20px;
    font-weight: 400;
    margin-top: 24px;
}

.stage__block {
    margin-top: 56px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

.stage__block-item {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 22%;
    padding: 32px 18px 42px 18px;
    margin-right: 20px;
    border-radius: 10px;
    background: var(--grey-background);
}

.item-number {
    font-size: 20px;
    font-weight: 400;
}

.item-text {
    font-size: 16px;
    font-weight: 700;
    margin-top: 18px;
    color: var(--blue);
    position: relative;
    min-height: 50px;
}

.item-text::after {
    position: absolute;
    content: '';
    border: 1px solid var(--blue);
    width: 95%;
    left: 5px;
    top: 80%;
}

.item-description {
    font-size: 16px;
    font-weight: 400;
    margin-top: 16px;
}


/*CARIES-PAGE*/

.caries__list {
    list-style-type: disc;
}

.sub__main-right .caries__subtitle:nth-child(3) {
    margin-top: 32px;
}



/*PULPITIS-PAGE*/

.pulpitis__list li:nth-child(2) {
    margin-top: 16px;
}

.pulpitis__tab-text:not(:last-child) {
    margin-bottom: 32px;
}

.stage__item-pulpitis {
    width: 30%;
    margin-right: 4%;
}

.stage__item-pulpitis:nth-child(3) {
    margin-right: 0;
}

.stage__item-pulpitis:nth-child(6) {
    margin-right: 0;
}

.stage__pilpitis__list {
    row-gap: 56px;
}

.stage__item-pulpitis .item-text {
    min-height: 70px;
}

.stage__pulpitis__descr {
    width: 85%;
}


/* Стили для табов */
.tabs {
    display: flex;
    cursor: pointer;
    color: var(--grey-font);
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    margin-top: 16px;
}



.tab:not(:last-child) {
    margin-right: 16px;
}

.tab.active {
    color: var(--blue);

}

.tab:hover {
    color: var(--hover-blue);
}

.tab-content {
    margin-top: 0;
    opacity: 0;
    visibility: hidden;
    height: 0;
    transition: opacity 0.5s, height 0.5s;
}

.tab-content.active {
    display: block;
    opacity: 1;
    visibility: visible;
    transition: all ease-in-out .5s;
    height: auto;
    margin-top: 32px;
}

.pulpitis__tab-text {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

.pulpitis__block-item {
    text-align: center;
}


.pulpitis__contacts {
    margin-top: 76px;
}



/* PERIODONTITIS-PAGE */

.sub__main__content .periodontitis__subtitle:nth-child(3) {
    margin-top: 16px;
}

.sub__main-right p {
    margin-top: 16px;
}

.sub__main__content .periodontitis__list li {
    list-style: disc;
    margin-left: 30px;
}



/*Стили для аккордеона в табах в блоке о периодонтите*/
.accordion-content {
    opacity: 0;
    height: 0;
    transition: all ease-in .2s;
}

.accordion-content.active{
    opacity: 1;
    height: auto;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin-top: 10px;
    transition: all ease-in .2s;
}

.tab-accordion {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    padding-bottom: 25px;
}

.accordion__list-item {
    list-style-type: disc;
    margin-left: 40px;
}

.accordion-toggle {
    cursor: pointer;
    list-style: disc;
}

.accordion-arrow {
    margin-left: 16px;
    transform: rotate(0deg);
    transition: transform 0.3s ease-in-out;
}

.tab-accordion.open .accordion-arrow {
    transform: rotate(540deg);

}


/*DELETE-TOOTH_PAGE*/

.sub__main-right .delete__list-item:nth-child(1){
    margin-top: 0;
}

.delete-text-down{
    margin-top: 16px;
}

.delete-text-down-list li{
    list-style:decimal;
    margin-left: 20px;
}



/* CYSTECTOMY-PAGE */

.cystectomy__item{
    list-style: disc;
    margin-left: 20px;
}

#preparation-content p:not(:first-child){
    margin-top: 24px;
}
#technique-content p:not(:first-child){
    margin-top: 24px;
}

#rehabilitation-content p:last-child{
    margin-top: 24px;
}


/*CROWNS-PAGE*/
.crowns__descr {
    margin-bottom: 24px;
}

.dotted-line {
    padding-top: 5px;
    border-bottom: 2px solid dotted;
    color: #292929;
}

.removableDentures-right {
    width: 50%;
}

.removableDentures-left {
    width: 50%;
    margin-right: 40px;
}

.removableDentures-list {
    list-style: auto;
}



/*IMPLANT*/
.implant__item {
    width: 28%;
    margin-top: 48px;
    margin-right: 54px;
    height: auto;
}

/*остальные стили*/


.removableDentures-right {
    width: 50%;
}

.removableDentures-left {
    width: 50%;
    margin-right: 40px;
}

.removableDentures-list {
    list-style: auto;
}

.tab-accordion {
    list-style: disc;
}


.accordion-content {
    padding-top: 16px;
}

.removableDentures-container {
    display: flex !important;
    margin-bottom: 29px;
    ;

}

.removableDentures-header {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 33px;
}

.removableDentures-item {
    font-size: 20px;
    font-weight: 400;
}

.removableDentures-list-right {
    width: 50%;
}

.removableDentures-list-left {
    width: 50%;
    margin-right: 40px;
}

.proffCleaning-item {
    width: 23%;
    height: auto;
}


.proffCleaning-item .item-description {
    padding-bottom: 32px;
}

.item-icon {
    margin-top: 45px;
    margin-bottom: 46px;
}


.proffCleaning-item .item-text {
    height: 50px;
}

.proffCleaning-item .item-line {
    margin-top: 0;
}

.proffCleaning__container-down {
    margin-top: 100px;
}

.deepFluoridation-descr {
    list-style: disc;
}

.deep__blocks {
    justify-content: space-around;
}

.deep__item {
    width: 24%;
    height: auto;
}

.deep__item .item-text {
    height: 23px;
}

.deep__item .item-line {
    margin-top: 6%;
}

.deep__item .item-description {
    padding-bottom: 32px;
}

.braces__descr-down {
    margin-top: 24px;
    margin-bottom: 26px;
}

.braces__item {
    font-size: 20px;
    font-weight: 400;
    list-style: disc;
}

.braces__tab_descr-down {
    font-size: 20px;
    font-weight: 400;
}

.contact__title {
    margin-left: 140px;
}

.aliners__second-header {
    margin-top: 24px;
}

.aliners__item-up {
    font-size: 20px;
    font-weight: 400;
    list-style: disc;
    margin-left: 30px;
}

.aliners__second-title {
    margin-top: 84px;
    margin-bottom: 16px;
}

.aliners__blocks {
    justify-content: center;
}

.aliners__item {
    width: 22%;
    height: auto;
    margin-right: 94px;
}


.aliners__item .item-text {
    height: 23px;
}

.aliners__item .item-line {
    margin-top: 6%;
}

.aliners__item .item-description {
    padding-bottom: 32px;
}


.bridges__item .item-text {
    height: 23px;
}

.bridges__item .item-line {
    margin-top: 6%;
}

.bridges__item .item-description {
    padding-bottom: 32px;
}

.implant__item {
    width: 28%;
    margin-top: 48px;
    margin-right: 54px;
    height: auto;
}