html {
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background: #FFFFFF;
  }
  
/* Сброс стилей для всех элементов */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Сброс стилей для заголовков */
h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Сброс стилей для списков */
ul, ol {
  list-style: none;
}

/* Сброс стилей для ссылок */
a {
  text-decoration: none;
}

/* Сброс стилей для изображений */
img {
  max-width: 100%;
  height: auto;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Regular.woff2') format('woff2'),
       url('../fonts/Inter-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Bold.woff2') format('woff2'),
       url('../fonts/Inter-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-ExtraBold.woff2') format('woff2'),
       url('../fonts/Inter-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Light.ttf') format('truetype');
  font-weight: light;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 140px;
    overflow: hidden;
  }

.title-reset { 
    margin: 0;
    padding: 0;
  }
      
.p-reset { 
    margin: 0;
    padding: 0;
  }
      
.list-reset { 
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
      
.link-reset { 
    color: inherit;
    text-decoration: none;
  }

.invisible{
  visibility: hidden;
  }
    
.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  }
      
.fieldset-reset {
  margin: 0;
  padding: 0;
  border: none;
  } 



/*HEADER*/

.header {
  height: 120px;
  padding: 22px 0 22px 0;
}

.header__logo {
  float: left;
}

.header__nav {
  float: right;
}

.header__nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header__nav-item {
  display: inline-block;
 
}

.header__nav-link {
  margin-right: 40px;
  color: #292929;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.header__nav-location{
  border-bottom: dotted;
  border-bottom-width: 2px;
  padding-bottom: 5px;
}

.header__phone-label {
  font-size: 12px;
  margin-left: 95px;
  border-bottom: dotted;
  border-bottom-width: 2px;
  padding-bottom: 5px;
  
}


/*HERO*/
.hero {
  background-image: url(../img/Rectangle\ 3.png);
  background-size: cover;
  background-position: center;
  position: relative;
}


.hero-title {
  padding-bottom: 50px;
  padding-top: 150px;
  font-family: 'Inter', sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
}

.hero-descr{
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: left;
  padding-bottom: 56px;
}

.hero-btn {
  padding: 18px 32px 18px 32px;
  background: #0095DA;
  border: none;
  border-radius: 30px;
  color: #fff;
  margin-bottom: 106px;
}

/*Who-choose-us*/
.why-choose-us{
  padding-top: 100px;
  
}

.why-choose-us__title{
  font-family: 'Inter', sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
  padding-bottom: 56px;
}

.why-choose-us__image{
  width: 40%;
  float: left;
}



.why-choose-us__info{
  width: 59%;
  display: flex;
  flex-wrap: wrap;
  float: right;
  padding-left: 10px;
  
}

.why-choose-us__info-item{
  width: 320px;
  margin-bottom: 26px;
  border-radius: 10px;
  background: #F4F4F4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.why-choose-us__info-item:nth-child(even) {
  margin-left: 26px;
}

.why-choose-us__info-text{
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  margin-top: 20px;
  margin-bottom: 34px;
}

.why-choose-us__info-svg{
  margin-bottom: 34px;
}

.why-choose-us__info-descr{
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 27px;
}